{% extends 'baseLogin.html' %}

<body onload="UbicarPlaceHolder()">
  {% block contenido %}    

    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
        </div>
        <div class="signupMsg visibility">
          
        </div>
      </div>
      <div class="frontbox">
        <div class="login">
          <div class="inputbox">
            <form class= "formulario" name=form method="POST" action="" novalidate>
              {{form.hidden_tag()}}
              <button class="volver" id="switch1"><a href="{{url_for('admin.login')}}" style="color: #000000;">Página de inicio</a></button>
                <h1 class="Titulo">Registro de usuarios</h1>

                <p class= "nota">Al registrarte se te enviará un link de activación a tu correo electrónico</p>
        
              <div>
                {{form.nickname.label(class= "label")}}
                {{form.nickname(class= "form-control col-md-12", size=30)}}
                {% for error in form.nickname.errors %}
                  <span style="color:red;">{{ error }}<br></span>
                {% endfor %}
              </div>
              <div>
                {{form.name.label(class= "label")}}
                {{form.name(class= "form-control col-md-12", size=30)}}
              </div>
              <div>
                {{form.email.label(class= "label", size=30)}}
                {{form.email(class= "form-control col-md-12", size=30)}}
                {% for error in form.email.errors %}
                  <span style="color: red;">{{ error }}<br></span>
                {% endfor %}
              </div>
              
              <div>
                {{form.clave1.label(class= "label", size=30)}}
                {{form.clave1(class= "form-control col-md-12", size=30)}}
                {% for error in form.clave2.errors %}
                  <span style="color: red;">{{ error }}<br></span>
                {% endfor %}
              </div>
              <div>
                {{form.clave2.label(class= "label", size=30)}}
                {{form.clave2(class= "form-control col-md-12", size=30)}}
                {% for error in form.clave2.errors %}
                  <span style="color: red;">{{ error }}<br></span>
                {% endfor %}
               
              </div>
              <div>
                {{form.registro(class= "btn")}}                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" language="javascript" src="{{url_for('static',filename='login.js')}}"></script>

  {% endblock %}
</html>