{% extends 'baseLogin.html' %}

<body onload="UbicarPlaceHolder()">
  {% block contenido %}    

    <div class="container">
      <div class="backbox">
        <div class="loginMsg">
        </div>
        <div class="signupMsg visibility">
          
        </div>
      </div>
      <div class="frontbox">
        <div class="login">
          <div class="inputbox">
            <form class= "formulario" name=form method="POST" action="" enctype="multipart/form-data" novalidate>
              {{form.hidden_tag()}}
              <button class="volver" id="switch1"><a href="{{url_for('admin.login')}}" style="color: #000000;">Página de inicio</a></button>
                <h1 class="Titulo">Registrar nuevo Post</h1>

              
                <p class= "nota">Por favor incluya la información a mostrar en el nuevo post</p>

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div class=flashe>
                    <ul class=flashes>
                      {% for message in messages %}
                        {{message}}
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                {% endwith %}                 
        
              <div>
                {{form.title(class= "caja", size=30)}}
                {{form.title.label(size= 20, class= "label_")}}
                {% for error in form.title.errors %}
                  <span style="color:red;">{{ error }}<br></span>
                {% endfor %}
              </div>
              <div>
                {{form.content(class= "caja", size=30)}}
                {{form.content.label(class= "label_", size=30)}}
                {% for error in form.content.errors %}
                  <span style="color: red;">{{ error }}<br></span>
                {% endfor %}
              </div>

              <div>
                {{ form.post_image.label }}
                {{ form.post_image }}<br>
                {% for error in form.post_image.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

              <div>
                {{form.submit(class= "btn")}}
                
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
              </div>
              <!-- <button>Registrarse</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" language="javascript" src="{{url_for('static',filename='login.js')}}"></script>

  {% endblock %}
</html>