<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='contactCSS.css')}}">  
</head>
<body>
    <section>


        <form class= "formulario" name= form  action="/contact" method="POST" novalidate>
            {{form.hidden_tag()}}

            <div class ="campo">
                {{form.nombre(class= "caja", id="caja1", size=30, autocomplete="off")}}
                {{form.nombre.label(class= "label_")}}
            </div>
            <div class ="campo">
                {{form.correo(class= "caja", id="caja1", size=30, autocomplete="off")}}
                {{form.correo.label(class= "label_")}}
            </div>
            <div class ="campo">
                {{form.teleono(class= "caja", id="caja1", size=30, autocomplete="off")}}
                {{form.teleono.label(class= "label_")}}
            </div>
            <div class ="campo">
                {{form.asunto(class= "caja", id="caja1", size=30, autocomplete="off")}}
                {{form.asunto.label(class= "label_")}}
            </div>
            <div class ="campo">
                {{form.mensaje(class= "caja", id="caja1", size=30, autocomplete="off")}}
                {{form.mensaje.label(class= "label_")}}
            </div>
            <div>
                {{form.enviar(class="button")}}
            </div>
    
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class=flashe>
                <ul class=flashes>
                   {% for message in messages %}
                        <li >{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
    
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post">
                            <fieldset>
                                <legend class="text-center header">Contact us</legend>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        {{form.nombre(class= "form-control", id="fname", autocomplete="off")}}
                                        {{form.nombre.label}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>