<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap.min.css')}}">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='contactCSS.css')}}">  
</head>
<body>
    <section>


        <form class= "formulario" name= form  action="/contact" method="POST" novalidate>
            {{form.hidden_tag()}}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class=flashe>
                <ul class=flashes>
                   {% for message in messages %}
                        <li >{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
    
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post">
                            {{form.hidden_tag()}}
                            <fieldset>
                                <legend class="text-center header">Contactanos</legend>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        {{form.nombre.label(class= "label_")}}
                                        {{form.nombre(class= "form-control", id="fname", autocomplete="off")}}
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        {{form.correo.label(class= "label_")}}
                                        {{form.correo(class= "form-control", id="email", autocomplete="off")}}
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        {{form.telefono.label(class= "label_")}}
                                        {{form.telefono(class= "form-control", id="phone", autocomplete="off")}}
                
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-bookmark-o bigicon" aria-hidden="true"></i></span>
                                    <div class="col-md-8">
                                        {{form.asunto.label(class= "label_")}}
                                        {{form.asunto(class= "form-control", id="asunto", autocomplete="off")}}
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        {{form.mensaje.label(class= "label_")}}
                                        {{form.mensaje(class= "form-control", id="message", rows="7", autocomplete="off")}}

                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>