<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- {%block titulo%}Soluciones CI{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='menuCSS.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{{url_for('static',filename='messages.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='/jquery-3.6.0.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container1">
  <div class="row justify-content-end" >
      <div class="col-sm-12">
          {% with success = get_flashed_messages(category_filter=["success"]) %}
              {% if success %}
                  {%- for message in success %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <span>{{ message }}</span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endfor -%}
              {% endif %}
          {% endwith %}
      </div>
  
      <div class="col-sm-12 align-self-end">
          {% with warning = get_flashed_messages(category_filter=["warning"]) %}
              {% if warning %}
                  {%- for message in warning %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <span>{{ message }}</span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endfor -%}
              {% endif %}
          {% endwith %}
      </div>
  
      <div class="col-sm-12 align-self-end">
          {% with danger = get_flashed_messages(category_filter=["danger"]) %}
              {% if danger %}
                  {%- for message in danger %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <span>{{ message }}</span>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endfor -%}
              {% endif %}
          {% endwith %}
      </div>
  </div>

<div id='encabezado' class= 'row'>
  <div class='col-1'>
  </div>
  <figure id= 'logo1' class='col-xs-4'>
    <img src="{{url_for('static', filename='/imagenes/sci.jpeg') }}" alt=""class= "logobase">
  </figure>
  <div id= 'texto', class = 'col-7 align-self-center'>
    <h1 class="text-justify">Soluciones Catastrales & Ingeniería S.A.S.</h1>
  </div>
  

</div>

  <nav id='menu'>
    <section>
      <aside>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='/'>Inicio</a></li>
          <li><a class='dropdown-arrow' href=''>servicios</a>
            <ul class='sub-menus'>
              <li><a href='/gestionpredial'>Gestión Predial</a></li>
              <li><a href='/gestionterritorio'>Gestión del territorio</a></li>
              <li><a href='/gestioncatastro'>Catastro multipropósito</a></li>
              <li><a href='/gestionobras'>Obras civiles</a></li>
              <li><a href='/building'>Inmobiliaria</a></li>
              <li><a href='/building'>Observatorio Inmobiliario</a></li>
            </ul>
          <li><a class='dropdown-arrow' href='/verOfertaGrid'>Noticias</a>
            <ul class='sub-menus'>
              <li><a href="{{ url_for('admin.news') }}">Nueva</a></li>
            </ul>
          </li>
          <li><a class='dropdown-arrow' href=''>Nosotros</a>
            <ul class='sub-menus'>
              <li><a href='/building'>Misión</a></li>
              <li><a href='/building'>Visión</a></li>
              <li><a href='/building'>objetivos</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('public.contact') }}">Contactenos</a></li>

          {% if current_user.is_authenticated %}
                    <li><a class='dropdown-arrow' href=''>{{ current_user.nickname}} </a>
                        <ul class='sub-menus'>
                            <li> <a href="/perfil/{{ current_user.name}}"> Perfil</a> </li>   

                            <li><a href='/loginRecov'>Cambiar la clave</a></li>
                            {% if current_user.is_admin %}
                            <li><a href="{{ url_for('admin.usermanager') }}">User Manager</a></li>
                            <li> <a href="/logincrea"> Crear usuario</a> </li>
                            {% endif%}
                            <li> <a href="/logout"> (Salir)</a> </li>
                        </ul> 
                    </li>
                {% else %}     
                <li><a href="{{ url_for('admin.login') }}">login</a></li>
                {% endif %} 

        </ul>
      </aside>
    </section>
  </nav>
  <body>
    {% block contenido %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>